/* *** GENERAL *** */

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,400i,700,700i&subset=latin-ext');

body {
  font-family: 'Lato', sans-serif;
  color: #878787;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  color: #9B9B9B;
  text-decoration: none;
}

/* unvisited link */
a:link {
}

/* visited link */
a:visited {
}

/* mouse over link */
a:hover {
}

/* selected link */
a:active {
}

textarea {
  resize: none;
  min-height: 50px;
}


/* *** BUTTON *** */
.button {
  display: inline-block;
  margin: 15px auto 0;
  padding: 2px 8px;
  border-style: solid;
  border-width: 2px;
  border-radius: 7px;
  border-color: #236BF6;
  background-color: #fff;
  color: #236BF6;

  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

  font-size: 16px;
}

.button:hover {
  background-color: #236BF6;
  color: #fff;
}

.blueButton:hover {
  border-color: #fff;
}

.deleteButton:hover {
  background-color: red;
  border-color: white;
}

/* *** CONTAINER *** */
#content {
  max-width: 360px;
  margin: 10px auto 0;
  padding: 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  box-shadow: 0 0 20px 1px #8b8b8b;
}



/* *** HEADER *** */
#header {
  margin: 5px auto 0;
}

#header h1 {
  font-weight: 100;
  margin: 0;
  padding: 0;
}

#header h1 {
  margin: 5px auto 15px;
  letter-spacing: 5px;
  text-shadow: 0px 0px 30px;
}



/* *** MESSAGES *** */
#messagesContent, #adminContent {
  padding-bottom: 15px;
}

form {
  width: 90%;
  margin: 0 auto;
  padding: 10px 2px 20px;
  background-color: #236BF6;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 1px;
}

form h2 {
  font-weight: 100;
  font-size: 24px;
  margin: 0 auto 3px;
  padding: 0;
  color: #fff;
  letter-spacing: 3px;
  text-shadow: 0px 0px 30px;
}

form textarea, .messageWithDelete textarea {
  margin: 0 auto 10px;
  padding: 5px;
  border-color: #fff;
  border-radius: 20px 20px 20px 0px;
  font-weight: 200;
  letter-spacing: 0px;
  color: #555;
  line-height: 15px;
  text-align: left;
  display: block;
  font-weight: 500;
  font-style: italic;
}

@keyframes textHover {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(2deg);}
  50% {transform: rotate(-2deg);}
  75% {transform: rotate(2deg);}
  100% {transform: rotate(0deg);}
}

form textarea:hover {
  animation-name: textHover;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

@keyframes disappear {
  0% { opacity: 1; }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.logOutMessage {
  font-weight: 400;
  font-size: 16px;
  color: forestgreen;
  animation: 1s ease-out 1s 2 disappear;
}


/* *** LOGIN *** */

#loginContent {
  background-color: #fff;
  border-color: #236BF6;
  border-width: 3px;
  border-style: solid;
  margin: 0 auto 15px;
}

#loginContent h2 {
  margin: 0 auto 10px;
  color: #236BF6;
  text-shadow: 0 0;
}

#loginContent .credentials {
  display: block;
  margin: 0 auto 10px;
  padding: 5px 5px 1px;
  outline: none;
  border: none;
  border-bottom: 2px solid #236BF6;
  color: #236BF6;

  font-size: 16px;
}

#loginContent .credentials::placeholder {
  color: #326BF6;
  opacity: 0.2;
}

/* LOGIN VALIDATION */
#loginContent .negativeValidation {
  border-bottom-color: red;
}

#loginError, #accessDenied {
  font-weight: 200;
  color: red;
}

.hide {
  display: none;
}

/* *** ADMIN PANEL *** */

.messageWithDelete textarea, .messageWithDelete .deleteButton {
  margin: 0 5px;
  padding: 0;
}

#adminContent .messagesWithDelete {
}

#adminContent .messageWithDelete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}

.messageWithDelete {
  margin: 0 0 10px;
  padding: 5px;
}

.messageWithDelete .deleteButton {
  flex-grow: 1;
}

.messageWithDelete textarea {
  flex-grow: 9;
  padding: 5px 10px;
}

#logOutButton {
  display: block;
}



/* *** NEW MESSAGE *** */
#newMessageContent {
  margin-bottom: 15px;
}

#newMessageContent textarea {
  transition: transform 0.5s, border-radius 0.5s;
}

#newMessageContent textarea:focus {
  outline: none;
  transform: scale(1.05);
  border-radius: 0px;
}

#newMessageContent form textarea:hover {
  animation-name: none;
}

#newMessageContent form textarea::placeholder {
  color: #000;
  opacity: 0.3;
}
